@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Inconsolata|Saira+Stencil+One&display=swap');
:root {
  --main-width-card: 250px;
  --main-width-card-mini: 60px;
  --main-decalage-desc: 22px;
  --main-decalage-shadow: 6px;
  --main-blue-color: #0e769e;
  --main-white-color: #e6e4e3;
  --main-red-color: #c5362b;
}

main { position: relative; width: 100vw; }

#main { text-align: center; }

h1 {
  text-shadow: 2px 2px #d4d4d4;
  display: block;
  font-family: 'Acme', sans-serif;
  text-align: center;
  width: 400px;
  margin: 20px auto;
  color: black;
  font-size: 64px;
  position: relative;
}

h3 {
  display: block;
  text-align: center;
  width: 400px;
  margin: 20px auto 60px auto;
  position: relative;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  font-family: 'Baloo Chettan 2', sans-serif;
}

#body_cache {
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMklEQVQYV2NcOG/hfwYkICcrx8CILAgSePT4EUIQJgDSBFYJE4Cr3L97/3+QFhgASQAAt+YeE03jbBcAAAAASUVORK5CYII=
  ) repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
}

/* h1::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  background: rgba(2,13,18,1);
  background: -moz-linear-gradient(135deg, var(--main-blue-color) 0%, var(--main-white-color) 50%, var(--main-red-color) 100%);
  background: -webkit-linear-gradient(135deg, var(--main-blue-color) 0%, var(--main-white-color) 50%, var(--main-red-color) 100%);
  background: -o-linear-gradient(135deg, var(--main-blue-color) 0%, var(--main-white-color) 50%, var(--main-red-color) 100%);
  background: -ms-linear-gradient(135deg, var(--main-blue-color) 0%, var(--main-white-color) 50%, var(--main-red-color) 100%);
  background: linear-gradient(135deg, var(--main-blue-color) 0%, var(--main-white-color) 50%, var(--main-red-color));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020d12', endColorstr='#bce0ee', GradientType=1 );
}

h1::after {
  height: 6px;
  bottom: 0;
} */

svg path { fill: white; }

.profile-card {
  width: var(--main-width-card);
  height: var(--main-width-card);
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: auto 30px 30px;
  text-align: left;
}

.profile-card-description, .profile-card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.profile-card-image {
  z-index: 2;
  top: 0;
  left: 0;
  transition: top .3s, left .3s, width .3s .3s, height .3s .3s;
}

.profile-card-description {
  background-color: white;
  z-index: 1;
  top: var(--main-decalage-desc);
  left: var(--main-decalage-desc);
  overflow: hidden;
  transition: top .3s, left .3s, width .3s, height .3s;
}

.profile-card-description-elements {
  position: absolute;
  top: calc(var(--main-width-card) - 20px);
  padding: 0 10px;
  transition: top .3s;
}

.profile-card-description-elements > h2 {
  font-family: 'Inconsolata', cursive;
  margin: 0;
  font-size: 16px;
  color: #444444;
  transition: font-size .3s .0s, padding-left .3s .0s;
}

.profile-card-description-elements > hr { opacity: 0; }

.profile-card-description-elements > label {
  font-family: 'Inconsolata', cursive;
  margin: 0;
  font-size: 16px;
}

.profile-card-description-elements > p {
  margin: 0;
  font-size: 14px;
  color: grey;
}

.profile-card:hover .profile-card-image {
  top: 10px;
  left: 10px;
  width: var(--main-width-card-mini);
  height: var(--main-width-card-mini);
}

.profile-card:hover .profile-card-description {
  top: 0;
  left: 0;
  width: calc(var(--main-width-card) + 20px);
  height: calc(var(--main-width-card) + 20px);
  transition: top .3s, left .3s, width .3s .3s, height .3s .3s;
}

.profile-card:hover .profile-card-description-elements {
  transition: top .3s .3s;
  top: calc(var(--main-width-card-mini) - 45px);
}

.profile-card:hover .profile-card-description-elements > h2 {
  font-size: 24px;
}

.profile-card:hover .profile-card-description-elements > h2, .profile-card:hover .profile-card-description-elements > label {
  padding-left: 70px;
  transition: font-size .3s .3s, padding-left .3s .3s;
}

#avatar { display: none; }




/* FOOTER */
.footer {
	width: 100%;
	background: #00121b;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

/* you can toggle the media screen view accordingly by changing the (max-width: px) to your convenience */

/* Thanks to Computer Conversations */
